*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media (max-width: $screen-md-xx) {
    font-size: 58.5%;
  }

  @media (max-width: $screen-md-x) {
    font-size: 54.5%;
  }

  @media (max-width: $screen-md) {
    font-size: 50.5%;
  }

  @media (max-width: $screen-sm) {
    font-size: 74.5%;
  }

  @media (max-width: $screen-xs) {
    font-size: 62.5%;
  }
}

body {
  min-width: 320px;
  font-family: $font-main;
  font-size: 16px;
  background-color: $color-background;
  color: $color-main;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

// ========================
// UI
// ========================

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $font-main;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

// ========================
// Layout
// ========================
.mt--auto {
  margin-top: auto;
}

.text--semibold {
  font-weight: 600;
}
