/* MuseoSansCyrl example
@font-face {
  font-family: 'MuseoSansCyrl';
  font-style: normal;
  font-weight: 100;
  src: local('MuseoSansCyrl Light'), local('MuseoSansCyrl-Light'),
    url('../fonts/MuseoSans Cyrillic/MuseoSansCyrl-100.otf') format('opentype');
}
 */