$font-main: system-ui, sans-serif;
$font-secondary: system-ui, sans-serif;

$color-main: #000;
$color-secondary: #fff;
$color-backgroud: #fff;

$transition-duration: 0.3s;
$transition-duration-small: 0.2s;

$screen-xxs: 360px;
$screen-xs: 526px;
$screen-sm: 768px;
$screen-sm-x: 920px;
$screen-md: 1024px;
$screen-md-x: 1158px;
$screen-md-xx: 1230px;
$screen-lg: 1366px;
$screen-xl: 1440px;
